body {
    color: #333;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

article {
    padding-bottom: 200px;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3em;
    padding: 50px 0;
}

h3 {
    display: inline-block;
    font-size: 2em;
}


html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

p {
    font-size: 1.1em;
}

#about {
    margin-top: 450px;
}

.articleColoured {
    background-color: #e2e2e2;
}

.articleContainer {
    margin: 0 auto;
    width: 70vw;
}

.background {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.backToTopBtn {
    background-color: #8cd696;
    border: none;
    border-radius: 50%;
    bottom: 50px;
    color: #fff;
    height: max-content;
    padding: 10px 17px;
    position: fixed;
    right: 20px;
    z-index: 10;
}

.backToTopBtn a {
    display: block;
    padding: 15px;
}

.backToTopBtn:hover{
    color: #333;
}
.coloured {
    color: #8cd696;
}

.contactBackground {
    background-color: #e2e2e2;
    height: 200px;
    position: relative;
    top: 140px;
    transform: skewY(-3deg);
    z-index: -1;
}

.contactUl {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 150px 0 0 0;
    width: 40%;

}

.contactList {
    padding-top: 25px;
}

.contactList:hover {
    color: #8cd696;
    transform: scale(1.2);
}

.contactList:hover a {
    color: #8cd696;
}

#CTA:hover{
    color: #333;
}


.icon {
    font-size: 1.6em;
    margin-right: 15px;
}

.fa-bars {
    color: #333;
    padding: 10px 0px 20px 30px;
}

.fade {
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: -webkit-scale(1);
    -webkit-transform: -webkit-translateX(100px);
    transform: scale(1);
    transform: translateX(100px);
    -webkit-transition: -webkit-all 0.5s;
    transition: all 0.5s;
}

.fadeIn {
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: -webkit-translateX(0px);
    transform: translateX(0px);
}

.fadeEnlarge {
    -webkit-transform: -webkit-scale(1.2);
    transform: scale(1.2);
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 70%;
}

.hideElement {
    transform: translateX(250px);
    visibility: hidden;
}

.left {
    float: left;
}

.mobileDropdown {
    background-color: #fff;
    box-shadow: 0px 10px 10px #777;
    padding: 10px;
    padding-left: 20px;
    position: fixed;
    right: 10px;
    text-align: left;
    top: 45px;
    transition: all 0.5s;
}

nav {
    font-size: 2em;
    position: absolute;
    width: 100vw;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px;
}

.navLink {
    display: inline-block;
    padding: 25px;
    position: relative;
}

.navLink:after {
    border: none;
    border-top: solid 2px #8cd696;
    bottom: 5px;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    transition: all 0.5s;
    width: 0%;
}

.navLink:hover::after {
    width: 100%;
}

.navMobileMenu {
    display: none;
    margin: 10px;
    padding: 10px 20px;
    position: fixed;
    right: 0px;
    top: 10px;
    width: 50px;
}

.pageWrapper{
    overflow-x: hidden;
}

.projectContainer {
    margin: 0 auto;
    max-width: 1024px;
}

.projectCard {
    margin: 300px auto;
}

.projectImg {
    box-shadow: -5px 30px 30px #d3d3d3;
    margin: 50px;
}

.projectDescription {
    margin: 0 50px;
}

.projectDescription p {
    text-align: left;
}

.projectLink {
    background-color: #8cd696;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px;
    padding: 15px;
    width: 150px;
}

.outlined {
    background-color: #fff;
    border: 1px solid #8cd696;
    color: #8cd696;
}

#projects a:hover {
    color: #333;
}

.profileImage {
    border-radius: 35%;
    height: 20%;
    width: 300px;
}


.right {
    float: right;
}

.revealElement {
    transform: translateX(0px);
    visibility: visible;
}

.skillBox {
    margin: 40px;
}

.skillBox:hover {
    color: #8cd696;
    transform: scale(1.1);
}

.techIcon {
    font-size: 6em;
}

#welcome {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.welcomeHeader {
    font-size: 5rem;
    margin: 50px 0 0;
}

.welcomeSubHeader {
    color: rgb(155, 0, 0);
    margin: 0 0 35px;
    padding: 0;
}


@media (max-width: 767px) {
    .welcomeHeader {
        font-size: 2rem;
    }

    .welcomeSubHeader {
        font-size: 1.5rem;
    }

    .contactUl {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:767px) {
    h2 {
        font-size: 2.5em;
    }

    .navMobileMenu {
        display: block;
    }

    .navLink {
        display: block;
        padding: 10px 30px 10px 0px;
    }

    .navContainer {
        display: none;
    }
}

@media (orientation:landscape) and (max-height:768px) {
    .navMobileMenu {
        display: block;
    }

    .navLink {
        display: block;
        padding: 10px 30px 10px 0px;
    }

    .navContainer {
        display: none;
    }

    .background {
        height: 120vh;
    }

    .welcomeHeader {
        font-size: 2rem;
    }

    .welcomeSubHeader {
        font-size: 1.5rem;
    }
}

@media(max-width:1023px) {
    .left {
        float: none;
    }

    .right {
        float: none;
    }

    .projectImg {
        margin: 50px 0;
    }

    .projectDescription p {
        text-align: center;
    }
}

@media (max-width: 424px) {
    .projectImg {
        width: 275px;
    }
}