article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: \201C \201D \2018 \2019;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
html input[type=button],
/* 1 */
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
figure {
    margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

article {
    padding-bottom: 200px;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3rem;
    padding: 50px 0;
}

h3 {
    display: inline-block;
    font-size: 2rem;
}

h5 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

p {
    font-size: 1.1rem;
}

.about {
    margin-top: 450px;
}

.aboutDescription {
    width: 90%;
}

.aboutDescription p {
    text-align: left;
}

.articleColoured {
    background-color: #e2e2e2;
}

.articleContainer, .projectContainer {
    max-width: 1440px;
    margin: 0 auto;
}


.background {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.backToTopBtn {
    background-color: #8cd696;
    border: none;
    border-radius: 50%;
    bottom: 50px;
    color: #fff;
    height: max-content;
    padding: 10px 17px;
    position: fixed;
    right: 20px;
    z-index: 10;
}

.backToTopBtn a {
    display: block;
    padding: 15px;
}

.backToTopBtn:hover {
    color: #333;
}

.coloured {
    color: #8cd696;
}

.contactBackground {
    background-color: #e2e2e2;
    height: 200px;
    position: relative;
    top: 140px;
    transform: skewY(-3deg);
    z-index: -1;
}

.contactUl {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 150px 0 0 0;
    width: 40%;

}

.contactList {
    padding-top: 25px;
}

.contactList:hover {
    color: #8cd696;
    transform: scale(1.2);
}

.contactList:hover a {
    color: #8cd696;
}

.projectLink:hover {
    color: #333;
}


.icon {
    font-size: 1.6rem;
    margin-right: 15px;
}

.iconAnimate {
    transition: all 1s;
}

.fa-bars {
    color: #333;
    padding: 10px 0px 20px 30px;
}

.fade {
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: -webkit-scale(1);
    -webkit-transform: -webkit-translateX(100px);
    transform: scale(1);
    transform: translateX(100px);
    -webkit-transition: -webkit-all 0.5s;
    transition: all 0.5s;
}

.fadeIn {
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: -webkit-translateX(0px);
    transform: translateX(0px);
}

.fadeEnlarge {
    -webkit-transform: -webkit-scale(1.1);
    transform: scale(1.1);
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    text-align: center;

}

footer {
    background-color: #e2e2e2;
    margin: 0;
    padding: 10px 0;
}

.hideElement {
    transform: translateX(250px);
    visibility: hidden;
}

.left {
    float: left;
}

.mobileDropdown {
    background: linear-gradient(60deg, #dbdbdbbf, #ffffffbf, #dbdbdbbf);
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    position: fixed;
    right: 10px;
    text-align: left;
    top: 45px;
    transition: all 0.5s;
}

.mobileDropdown .navLink {
    margin: 30px 0;
}

nav {
    font-size: 2em;
    position: absolute;
    width: 100vw;
    z-index: 20;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px;
}

.navLink {
    display: inline-block;
    padding: 25px;
    position: relative;
}

.navLink:after {
    border: none;
    border-top: solid 2px #8cd696;
    bottom: 5px;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    transition: all 0.5s;
    width: 0%;
}

.navLink:hover::after {
    width: 100%;
}

.navMobileMenu {
    display: none;
    margin: 10px;
    padding: 10px 20px;
    position: fixed;
    right: 0px;
    top: 10px;
    width: 50px;
}


.projectCard {
    display: flex;
    justify-content: space-between;
    margin: 150px auto;
    width: 90%;
}

.projectImg {
    box-shadow: -10px 20px 0 #8cd696;
}

.projectDescription {
    width: 45%;
}

.projectDescription h3 {
    margin: 0;
}

.projectDescription p {
    text-align: left;
}

.projectImgContainer {
    width: 45%;
}

.projectLink {
    background-color: #8cd696;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
    padding: 15px;
    width: 150px;
}

.outlined {
    background-color: #fff;
    border: 1px solid #8cd696;
    color: #8cd696;
}

.pageWrapper {
    overflow-x: hidden;
}

.projects a:hover {
    color: #333;
}

.profileImage {
    border-radius: 35%;
    height: 20%;
    width: 300px;
}


.right {
    flex-direction: row-reverse;
}

.revealElement {
    transform: translateX(0px);
    visibility: visible;
}


.skillBox {
    margin: 50px;
}

.skillBox:hover {
    color: #8cd696;
    transform: scale(1.1);
}

.techIcon {
    font-size: 6em;
}

.welcome {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.welcomeHeader {
    font-size: 5rem;
    margin: 50px 0 0;
}

.welcomeSubHeader {
    color: rgb(155, 0, 0);
    margin: 0 0 35px;
    padding: 0;
}

@media (max-width: 980px){
    .articleContainer, .projectContainer {
        width: 100%;
    }
    .projectCard {
        align-items: center;
        flex-direction: column;
    }

    .projectDescription, .projectImgContainer {
        width: 90%;
    }

    .projectDescription {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .welcomeHeader {
        font-size: 2rem;
    }

    .welcomeSubHeader {
        font-size: 1.5rem;
    }

    .contactUl {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        font-size: 2.5rem;
    }

    .navMobileMenu {
        display: block;
    }

    .navLink {
        display: block;
        padding: 10px 30px 10px 0px;
    }

    .navContainer {
        display: none;
    }

    .techIcon {
        font-size: 4rem;
    }

    .skillBox h4 {
        font-size: 1rem;
    }
}

@media (orientation:landscape) and (max-height:768px) {
    .navMobileMenu {
        display: block;
    }

    .navLink {
        display: block;
        padding: 10px 30px 10px 0px;
    }

    .navContainer {
        display: none;
    }

    .background {
        height: 120vh;
    }

    .welcomeHeader {
        font-size: 2rem;
    }

    .welcomeSubHeader {
        font-size: 1.5rem;
    }
}
